# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.venv/

# environment variables
.env

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Migrations (optional: ignore if you don’t want to commit them)
# */migrations/

# IDEs/editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
